#content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

table.card-item {
    font-size: 12px;
    width: 600px;
}

table.card-item td {
    padding: 5px;
}

#image-container {
    width: 300px;
}

img.preview {
    margin-top: 20px;
    width: 300px;
}

h6.title {
    text-align: center;
}

td.column-name {
    color: #777;
}
td.column-value {
    text-align: right;
}

@media only screen and (max-width: 1000px) {
    table.card-item {
        width: 100%;
    }

    #content {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}
