.catalog-item {
    display: inline-flex;
    font-size: 20px;
    width: 206px;
    margin: 10px;
    border: 2px #003588 solid;
    color: #003588;
    border-radius: 5px;
    text-align: center;
}

.catalog-item a{
    width: 100%;
    text-decoration: none;
}

.catalog-item p {
    margin: 0;
    height: 70px;
    background-color: #DADADA;
    border-top: 1px solid #737373;
    webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.71);
    padding: 0;
    font-size: 18px;
}

.catalog-item img {
    height: 170px;
    width: 200px;
}

.catalog-item:hover a p{
    background-color: #003588 !important;
    border-top: 1px solid #003588;
    color: #fff !important;
}