body {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.s5 {
    width: 250px;
    margin-left: 20px;
}

input.short-form {
    width: 49%;
}

div#pagination {
    text-align: center;
}

ul.pagination {
    margin: 0 auto;
}

.pagination li.active {
    background-color: #003588;
}

#pagination {
    margin: 20px 0;
}

div#result, div#loader {
    display: none;
    text-align: center;
    border-radius: 4px;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}

div#result a {
    color: white;
    text-decoration: underline;
}

div#result a:hover {
    color: white;
    text-decoration: none;
}

div#result {
    background-color: #003588;
}

div#loader {
    background-color: orange;
}

