
#content {
}

div.primary {
    align-items: center;
    display: flex;
    flex-direction: row;
}

div.second {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    margin: 0 auto;
}

.select-wrapper span.caret {
    top: 9px;
}

.select-wrapper input.select-dropdown {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.dropdown-content li > span {
    color: #000;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 16px;
}

.dropdown-content li {
    min-height: 30px;
    line-height: 30px;
}

table#list {
    width: 750px;
    font-size: 13px;
}

table#list a {
    color: #5c5b5b;
}

table#list a:hover {
    color: #003588;
}

table#list td {
    padding: 10px 5px;
}

.select-wrapper span.caret {
    top: 9px;
}

.select-wrapper input.select-dropdown {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.dropdown-content li > span {
    color: #000;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 16px;
}

.dropdown-content li {
    min-height: 30px;
    line-height: 30px;
}

@media only screen and (max-width: 1100px) {
    table#list {
        width: 100%;
    }

    div.second {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 900px) {
    div.primary {
        flex-direction: column;
    }
}
